
 
 
  /*Geral*/
 body { 
    background-color: #01011e;
    font-family: 'Noto Sans', sans-serif;
} 

.alignAllCenter {
    align-items: center;
    justify-content: center;
    display: flex;
 }

 .h800 {
    height: 800px;
    }


h1 {
    color: white;
    text-align: center;
    font-weight: bold;

}
  /*FrontPage*/
.menuLetterColor {
    color: white;
}

#header {
   
    padding: 15px;
}

 .nav-menu ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

.formatText{
    color: white !important;
}
 .nav-menu > ul {
    display: flex;
 }

.nav-menu > ul > li {
 position: relative;
 white-space: nowrap;
 padding: 10px 10px 10px 22px;
 margin: 20px;
}

.nav-menu a {
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 4px;
   
}

.nav-menu > ul > li a::before {
   content: ""; 
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -6px;
   left:0px;
   background-color: #00e2f5;
   visibility: hidden;
   width: 0px;
   transition: all 0.3s ease-in-out;
}
    
.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
 .nav-menu .active > a::before {
     visibility: visible;
     width: 100%;
}

.nav-link a:hover,
.nav-menu .active > a,
.nav-menu li:hover >a {
 color: #00e2f5 !important;   
}



.HeaderTittle {
font-size: 50px;
color: white;
}

.buttondeCor {
    margin-top: 20px;
    background-color: #00e2f5;
    color: white;
    border-radius: 25px;
    width: 120px ;
    height: 43px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

    }

    #mobileform1 {
width: 120px !important;
        left: 0%;
        width: 160px;
   
    }



    .imagefrontpage {
       padding: 30px; 
    }
/*FrontPage Ending*/

/*Section 1*/

.title-section1 {
    color: white;
text-align: center;
padding-top: 100px;
padding-bottom: 40px;

}

.section1-h2-formatation {
    color: #00e2f5;
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;

}

.section1-text-formatation {
    color: white;
    text-align: center;
}

.s1-align-img {
display: block;
margin: 0 auto;
width: 80px;
}

.padding-section1 {
    padding: 50px 20px 20px 20px;
}

.section1-leftform{
    position: absolute;
    
        left: 0%;
        width: 160px;
        margin-top: 300px;


}

.section1-rightform {    
     position: absolute;
    right: 0%;
    width: 150px;



}

/*Section 1 End*/

/*Section 2 call to action*/

.background-section2 {
    background-color: white;
    align-items: center;
    white-space: nowrap;
   padding-top: 40px;
   height: 250px;
}

.text-section2 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: #01011e;
    font-size: 30px;
    font-weight: bold;
 
    
}

/*Section 2 call to action End*/

/*Section 3*/
.format-img-mobilesection3 {
margin-top: 90px;
}

.linesformat {
  margin-top: 60px;
}

/*Section 3 End*/



  /*Section 4 */

  #section4-tittle{
      padding: 10px 0px 50px 0px;

  }

  .card-title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    padding-top: 25px;
    text-align: center;
  }

  .card-text {
      color: white;
     
      text-align: center;

  }

  .card {
  
    padding: 30px;
    width: 250px !important;
    height: 400px !important;
    background-color: #070536;
    border-radius: 30px;
    margin-bottom: 50px;
  

  }


  /*Section 4 End*/

    /*Section 5 Triângulo */

.tittle-section5{
    
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 100px 0px 0px 40px
 
}

.text-section5{
    color: white;
    font-size: 17px;

 margin-left: 40px;
}

/*.backgroud-section5{
    background-image: url('');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }*/

.format-img-section5 {
    padding-top: 60px;
    height: 450px;

}

.h600 {
    height: 600px;
}

  /*Section 5 Triângulo End*/

 
  /*Section 6 Form*/


  /*.backgroud-section6{
    background-image: url('');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }*/


.contact-form{

width: 60%;
height: 750px;
background-color: #070536;
border-radius: 30px;
padding: 200px;
}



  
.group { 
    position: relative; 
    margin-bottom: 25px; 
    
  }
  
  input {
    font-size: 13px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00e2f5;
    color:white;
    background: rgba(0,0,0,0);
    transition: 0.2s ease;
  }


  /*Section 6 Form End*/



/*footer*/
.background-footer {
    background-color: #070536;
    height: 408px;
    
}





/*footer End*/



  

 
  
  


  
  

  






  @media screen and (max-width: 768px) {
        #frontPageMobile    {
        display: none;
        }


        .HeaderTittle{
            margin-top: 150px;
            font-size: 40px;  
            padding-left: 40px;

        }

     
        .section1-leftform {
            display: none;
        }

           
        .section1-rightform {
            display: none;
        }


        #section6-img {
            display: none;
        }

       .format-img-section5{
           display: none;
       }

       .h800 {
           height: auto;
       }

    .linesformat{
        display: none;
    }
    
     
    }


    @media screen and (min-width: 992px) {
        #mobileform1 {
            display: none;
        }


        #triangulo-mobile{
            display: none;
        }
            
    }


   





 /*NavbarEND*/


/* 
 /*FrontPage/* 

.header{
     background-image: url('./imagens/');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

.HeaderTittle {
 font-size: 60px; font-weight: 20px;
 color: white;

}

/*

