
 
 
  /*Geral*/
 body { 
    background-color: #01011e;
    font-family: 'Noto Sans', sans-serif;
} 

.alignAllCenter {
    align-items: center;
    justify-content: center;
    display: flex;
 }

 .h850 {
    height: 850px;
    }

  /*FrontPage*/
.menuLetterColor {
    color: white;
}

#header {
   
    padding: 15px;
}

 .nav-menu ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

.formatText{
    color: white !important;
}
 .nav-menu > ul {
    display: flex;
 }

.nav-menu > ul > li {
 position: relative;
 white-space: nowrap;
 padding: 10px 10px 10px 22px;
 margin: 20px;
}

.nav-menu a {
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 4px;
   
}

.nav-menu > ul > li a::before {
   content: ""; 
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -6px;
   left:0px;
   background-color: #00e2f5;
   visibility: hidden;
   width: 0px;
   transition: all 0.3s ease-in-out;
}
    
.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
 .nav-menu .active > a::before {
     visibility: visible;
     width: 100%;
}

.nav-link a:hover,
.nav-menu .active > a,
.nav-menu li:hover >a {
 color: #00e2f5 !important;   
}



.HeaderTittle {
font-size: 50px;
color: white;
}

.buttondeCor {
    margin-top: 20px;
    background-color: #00e2f5;
    color: white;
    border-radius: 25px;
    width: 120px ;
    height: 43px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

    }

    #mobileform1 {
        position: absolute;
        left: 0%;
        width: 160px;
    }

/*FrontPage Ending*/

/*Section 1*/

.title-section1 {
    color: white;
text-align: center;
padding-top: 100px;
padding-bottom: 40px;

}

.section1-h2-formatation {
    color: #00e2f5;
    font-size: 20px;
    white-space: nowrap;
    padding-top: 15px;
    text-align: center;

}

.section1-text-formatation {
    color: white;
    text-align: center;
}

.s1-align-img {
display: block;
margin: 0 auto;
width: 80px;
}

.padding-section1 {
    padding: 50px 20px 20px 20px;
}

.section1-leftform{
    position: absolute;
    
        left: 0%;
        width: 160px;
        margin-top: 300px;


}

.section1-rightform {    
     position: absolute;
    right: 0%;
    width: 150px;



}

/*Section 1 End*/

/*Section 2 call to action*/

.background-section2 {
    background-color: white;
    align-items: center;
    white-space: nowrap;
   padding-top: 40px;
   height: 250px;
}

.text-sectio2 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: #01011e;
    font-size: 30px;
    font-weight: bold;
 
    
}






























    @media screen and (max-width: 768px) {
        #frontPageMobile    {
        display: none;
        }


        .HeaderTittle{
            margin-top: 200px;
            font-size: 40px;  
        }

        .HeaderTittle{
            padding-left: 40px;
        }
        
        .section1-leftform {
            display: none;
        }

       
    }


    @media screen and (min-width: 992px) {
        #mobileform1 {
            display: none;
        }
            
    }


      /*FrontPage Ending*/
/*





 /*NavbarEND*/


/* 
 /*FrontPage/* 

.header{
     background-image: url('./imagens/');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

.HeaderTittle {
 font-size: 60px; font-weight: 20px;
 color: white;

}

/*